@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&display=swap');

body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	background-color: #F0F0F0;
	min-height: 100vh;
}

body * {
	box-sizing: border-box;
}


header {
	height: 8vh;
	border-bottom: 0.2px solid #0074D9;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin: auto;
	padding: 32px;
}


.logo-flexpay {
	width: 13vw;
	justify-content: start;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0px;
}

.logo-flexpay img {
	width: 80%;
	margin: auto;
}

main {
	margin-bottom: 20px;
	height: 78vh;
}

.menu-nav {
	display: flex;
	justify-content: space-between;
	width: 60%;
}

.links-header {
	text-decoration: none;
	color: #0074D9;
	font-weight: bold;
	font-size: 20px;
	transition: color 0.3s ease;
	/*text-align: center;*/
	/* justify-content: center; */
	display: flex;
}

.links-header:hover {
	color: #08C076;
	/* Cor de destaque ao passar o mouse sobre os links */
}

.carousel-container {
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.carousel-wrapper {
	display: flex;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.slide {
	flex: 0 0 100%;
	height: 450px;
	/* ajuste conforme necessário */
	background-size: contain;
	border-radius: 0% 0% 5% 5%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	position: relative;
	/* Adiciona position relative ao slide */
}

.slide-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	text-align: center;
	color: #f0f0f0;
	width: 100%;
	padding: 0 20px;
	text-shadow: 2px 2px 4px #0074D9;
	justify-content: space-between;
}
  
.text-left {
	flex: 1;	
	text-align: left;
}

.text-left h2 {
	text-align: center;
	font-size: 3rem;
	margin: 0;
}
  
.text-right {
	flex: 1;
	text-align: right;
}

.text-right p {
	text-align: center;
	font-size: 2rem;
	margin: auto;
	height: 100%;
}


#slide1 {
	background-image: url('../img/foto1-1280.jpg');
}

#slide2 {
	background-image: url('../img/foto2-1280.jpg');
}

#slide3 {
	background-image: url('../img/foto3-1280.jpg');
}

.carousel-dots {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.dot {
	height: 10px;
	width: 10px;
	margin: 0 5px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.dot:hover {
	background-color: #717171;
}

/* Tela de login */

.area-login {
	height: 84%;
	display: flex;
	justify-content: center;
	color: #0074D9;
	align-items: center;
	padding: 20px;
	margin: 20px 0px 20px 0px;
}

.area-login-image {
	width: 35vw;
	height: auto;
	margin: 8px;
}

.titulo-login {
	color: #0074D9;
	width: 100%;
	height: auto;
	font-weight: 800;
	margin: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

form {
	width: 100%;
	align-items: center;
	justify-content: center;
}

label {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 8px;
	font-weight: 600;
	color: #0074D9;
	display: block;
	margin-bottom: 8px;
}

label>span {
	margin-bottom: 10px;
}

.area-login {
	height: 78vh;
}

.left-login {
	width: 50vw;
	height: 84vh;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	text-align: center;
	flex-direction: column;
	font-size: 32px;
	margin: auto;
}

.area-login-image {
	height: 70vh;
}

.left-login h1 {
	font-size: 2rem;
	margin: 0;
}

.right-login {
	width: 50vw;
	height: 84vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-login {
	width: 60%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 35px;
	background: #cecece;
	border-radius: 20px;
	box-shadow: 0px 10px 40px #656262;
}

.fb9 {
	background-color: #db6600;
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:3px;	
	color: #ffffff;
	border:1px solid #db6600;
	background-image: url(images/button_bg.jpg);
}
.fb9:hover {
	background-color: #000000;	
	border:1px solid #000000;
	background-image: url(images/button_bg_over.jpg);
}

.campo-login {
	width: 100%;
	margin-top: 8px;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #8e9dac;
	color: #0074D9;
	font-size: 1.1rem;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
}

#username.campo-login {
	margin-top: 8px;
}

label>input::placeholder {
	color: #0074D9;
}

.submit {
	width: 100%;
	padding: 16px 0px;
	margin: 25px 0px 25px 0px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: #f0f0f0;
	background: #0074D9;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #2e88d7;
	font-size: 1.1rem;
}
.submit:hover {
	background: #6DA6BD;
	color: #555555;
	transition: all .3s ease-in-out;
}

footer {
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #F0F0F0;
	border-top: 0.2px solid #0074D9;
	height: 8vh;
	padding: 32px;
	text-align: center;
  
}

footer p {
	display: block;
	color: #555555;
	margin: 0 auto;
}

footer a {
	color: #0074D9;
	text-decoration: none;
}

/* Aqui começam as media queries */

 @media only screen and (min-width: 601px) and (max-width: 1280px) {
	header {
		height: 8vh;
		width: 100%;
	}

	.logo-flexpay {
		width: 20%;
	}

	.logo-flexpay img {
		width: 100%;
	}

	.menu-nav {
		width: 85%;
		text-align: center;
		gap: 3px;
	}

	.menu-nav a {
		margin: auto;
		font-size: 0.8rem;
	}

	.slide {
		height: 92vh;
		border-radius: 0% 0% 3% 3%;
	}

	.text-left h2{
		font-size: 1.5rem;
	}

	.text-right p {
		font-size: 1.3rem;
	}

	.area-login {
		height: 78vh;
		margin: 0 0 10px 0;
	}

	.left-login {
		width: 50%;
		height: auto;
		align-items: center;
	}

	.login-page-title {
		font-size: 5rem;
		margin: auto;
	}

	.area-login-image{
		font-size: 1.5rem;
		margin: auto;
		margin-top: 0;
	}

	.area-login-image {
		width: 80%;
		height: auto;
		margin: 8px;
	}

	.right-login {
		width: 50%;
		height: auto;
		align-items: center;
	}

	.card-login {
		width: 90%;
		height: auto;
		text-align: center;
	}

	label>input::placeholder {
		color: #0074D9;
		font-size: 0.9rem;
	}

	footer {
		height: 8vh;
	}

 }

@media only screen and (min-width: 301px) and (max-width: 600px) {

	header {
		height: 8vh;
		width: 100%;
		display: flex;
		/*flex-direction: column;*/
		text-align: center;
		justify-content: space-around;
		gap: 10px;
		margin-top: 0;
		padding: 8px;
	}

	.logo-flexpay {
		width: 25%;
	}

	.logo-flexpay img {
		width: 100%;
	}

	.menu-nav {
		width: 85%;
		text-align: center;
		gap: 3px;
	}

	.menu-nav a {
		margin: auto;
		font-size: 0.68rem;
	}

	main {
		height: 80vh;
		margin-bottom: 10px;
	}

	.slide {
		height: 77vh;
		border-radius: 0% 0% 3% 3%;
	}

	.slide-content {
		display: flex;
		flex-direction: column;
		gap: 350px;
	}

	.text-left {
		align-self: center;
	}

	.text-left h2{
		font-size: 1.5rem;
	}

	.text-right {
		align-self: center;
	}

	.text-right p {
		font-size: 1.3rem;
	}

	.area-login {
		flex-direction: column;
		height: 84%;
		margin: 20px 0 20px 0;
		padding: 0;
	}

	.left-login>h1 {
		display: none;
	}

	.left-login {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	.area-login-image {
		width: 80%;
		margin: 8px;
	}

	.right-login {
		width: 100%;
		height: auto;
		align-items: center;
	}

	.area-login-image {
		width: 50vw;
		margin: 8px;
	}

	.card-login {
		width: 90%;
		text-align: center;
		gap: 12px;
		font-size: 14px;
	}

	.card-login label input::placeholder {
		font-size: 14px;
	}

	footer {
		height: 8vh;
		font-size: 14px;
	}

}

@media only screen and (max-width: 300px) {

	header {
		height: 8%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 10px;
		margin-top: 0;
		padding: 8px;
	}

	.logo-maxima {
		width: 50%;
	}

	.logo-maxima img {
		width: 100%;
	}

	nav {
		width: 100%;
		text-align: center;
	}

	nav a {
		margin: auto;
		font-size: 12px;
	}

	.main-login-signup {
		flex-direction: column;
		height: 84%;
		margin: 20px 0 20px 0;
		padding: 0;
	}

	.left-login-signup>h1 {
		display: none;
	}

	.left-login-signup {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	.left-login-signup-image {
		width: 80%;
		margin: 8px;
	}

	.right-login-signup {
		width: 100%;
		height: auto;
		align-items: center;
		font-size: 12px;
	}

	.left-login-signup-image {
		width: 50vw;
		margin: 8px;
	}

	.card-login {
		width: 90%;
		text-align: center;
		font-size: 10px;
	}

	.card-login label input::placeholder {
		font-size: 12px;
	}

	.card-signup {
		width: 90%;
		text-align: center;
	}

	.card-signup label input::placeholder {
		font-size: 12px;
	}
	

	footer {
		height: 8%;
		font-size: 12px;
	}

	.descricao-inicio {
		display: flex;
		flex-direction: column;
	} */

	.area-esqueci-senha {
		width: 100%;
	}

	.preciso-de-ajuda {
		text-align: justify;
	}

	.cpf-forgot::placeholder {
		font-size: 12px;
	}

	.container-foto {
		margin: auto;
	}
	
	.btn-login-signup {
		margin: auto;
		margin-top: 10px;
		font-size: 14px;
	}

	.forgot {
		margin: 0;
	}

	.btn-forgot-pass {
		width: 100%;
		font-size: 14px;
	}

	#message {
		font-size: 12px;
	}

	#message::placeholder {
		font-size: 12px;
	}

	#sendmessage {
		font-size: 12px;
	}

	.mapa {
		width: 200px;
		height: 200px;
	}

	.container-depoimentos {
		display: flex;
		flex-direction: column;
	}
} 