@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&display=swap');

body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	background-color: #2c3e50;
	color: #f0ffffde;
	/* Cor do texto em preto para o contraste */
}

body * {
	box-sizing: border-box;
}


header {
	background-color: #f0ffffde;
	color: black;
	height: 15vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*justify-content: space-around;*/
	/*margin-bottom: 5px;*/
}

.container {
	margin-left: 56px;
	/*margin-right: 56px;*/
	display: flex;
}

.logo-flexpay {
	margin-top: 0;
	margin-bottom: 0px;
	padding: 8px 12px 8px 12px;
}

.logo-flexpay img {
	width: 13vw;

}

main {
	margin-bottom: 20px;
}

div .navbar {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-right: -12px;
}

.navbar-beg {
	margin: 0px 47px 0px 8px;
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 8px 12px;
}

.navbar-end {
	margin-left: 47px;
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 8px 12px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	justify-content: center;
	display: flex;
}

li {
	display: inline;
	text-align: center;
	justify-content: center;
	padding: 8px 4px;
}

.link-menu {
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 8px 4px 8px 4px;
}

.ultimo {
	margin-right: 32px;
}

header a {
	text-decoration: none;
	color: #2c3e50;
	font-weight: bold;
	font-size: 20px;
	transition: color 0.3s ease;
	text-align: center;
	justify-content: center;
	display: flex;
	/*-webkit-text-stroke-width: 0.7px; /* largura da borda */
	/*-webkit-text-stroke-color: #000; /* cor da borda */
}

header a:hover {
	color: #08C076;
	/* Cor de destaque ao passar o mouse sobre os links */
}

.carousel-container {
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.carousel-wrapper {
	display: flex;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.slide {
	flex: 0 0 100%;
	height: 450px;
	/* ajuste conforme necessário */
	background-size: contain;
	border-radius: 0% 0% 20% 20%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	position: relative;
	/* Adiciona position relative ao slide */
}

.slide-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #f0ffffde;
	width: 100%;
	/* Ajusta a largura para ocupar 100% do slide */
	padding: 0 20px;
	/* Adiciona padding para espaçamento interno */
	text-shadow: 2px 2px 4px #333;
	/* Contorno cinza escuro */
}

.slide-content h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.slide-content p {
	font-size: 1em;
}


#slide1 {
	background-image: url('/flexpay/assets/img/foto1-1280.jpg');
}

#slide2 {
	background-image: url('/flexpay/assets/img/foto2-1280.jpg');
}

#slide3 {
	background-image: url('/flexpay/assets/img/foto3-1280.jpg');
}

.carousel-dots {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.dot {
	height: 10px;
	width: 10px;
	margin: 0 5px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.dot:hover {
	background-color: #717171;
}

/* Tela de login */

.area-login {
	height: 84vh;
	display: flex;
	justify-content: center;
	color: #f0ffffde;
	align-items: center;
}

.titulo-login {
	color: #87ceeb;
	width: 100%;
	height: auto;
	font-weight: 800;
	margin: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

form {
	width: 100%;
	align-items: center;
	justify-content: center;
}

label {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 8px;
	font-weight: 600;
	color: #87ceeb;
	display: block;
	margin-bottom: 8px;
}

label > span {
	margin-bottom: 10px;
}

.left-login {
	width: 50vw;
	height: 84vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.left-login {
	font-size: 2rem;
	margin: 0;
}

.right-login {
	width: 50vw;
	height: 84vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-login {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 35px;
	background: #324457;
	border-radius: 20px;
	box-shadow: 0px 10px 40px #014f30;
}
 
.campo-login {
	width: 100%;
	margin-top: 8px;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #526980;
	color: #f0ffffde;
	font-size: 1.1rem;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
}

#username.campo-login {
	margin-top: 8px;
}

label > input::placeholder {
	color: #b8c6c694;
}

.submit {
	width: 100%;
	padding: 16px 0px;
	margin: 25px 0px 25px 0px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: #2b134b;
	background: #87ceeb;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #86D1EB;
	font-size: 1.1rem;
}

.submit:hover {
	background: #6DA6BD;
	transition: all .3s ease-in-out;
}

footer {
	border-top: 0.2px solid white;
	/*width: 100vw;*/
	height: 8vh;
	padding: 32px;
	text-align: center;
}

footer p {
	display: block;
	color: #c0c0c0;
	margin: 0 auto;
}

footer a {
	color: #00ff88;
	text-decoration: none;
}