@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&display=swap');

body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	background-color: #2c3e50;
}

body * {
	box-sizing: border-box;
}


header {
	/*width: 100vw;*/
	height: 8vh;
	border-bottom: 0.2px solid white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 24px;
	text-align: center;
	margin: auto;
	padding: 32px;
}


.logo-flexpay {
	width: 13vw;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0px;
}

.logo-flexpay img {
	width: 80%;
	margin: auto;
}

main {
	margin-bottom: 20px;
}

.links-header {
	text-decoration: none;
	color: #87ceeb;
	font-weight: bold;
	font-size: 20px;
	transition: color 0.3s ease;
	text-align: center;
	justify-content: center;
	display: flex;
	margin: auto;
	/*-webkit-text-stroke-width: 0.7px; /* largura da borda */
	/*-webkit-text-stroke-color: #000; /* cor da borda */
}

.links-header:hover {
	color: #08C076;
	/* Cor de destaque ao passar o mouse sobre os links */
}

.carousel-container {
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.carousel-wrapper {
	display: flex;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.slide {
	flex: 0 0 100%;
	height: 450px;
	/* ajuste conforme necessário */
	background-size: contain;
	border-radius: 0% 0% 20% 20%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	position: relative;
	/* Adiciona position relative ao slide */
}

.slide-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #f0ffffde;
	width: 100%;
	/* Ajusta a largura para ocupar 100% do slide */
	padding: 0 20px;
	/* Adiciona padding para espaçamento interno */
	text-shadow: 2px 2px 4px #333;
	/* Contorno cinza escuro */
}

.slide-content h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.slide-content p {
	font-size: 1em;
}


#slide1 {
	background-image: url('/flexpay/assets/img/foto1-1280.jpg');
}

#slide2 {
	background-image: url('/flexpay/assets/img/foto2-1280.jpg');
}

#slide3 {
	background-image: url('/flexpay/assets/img/foto3-1280.jpg');
}

.carousel-dots {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.dot {
	height: 10px;
	width: 10px;
	margin: 0 5px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.dot:hover {
	background-color: #717171;
}

/* Tela de login */

.area-login {
	height: 84%;
	display: flex;
	justify-content: center;
	color: #87ceeb;
	align-items: center;
	padding: 20px;
	margin: 20px 0px 20px 0px;
}

.area-login-image {
	width: 35vw;
	height: auto;
	margin: 8px;
}

.titulo-login {
	color: #87ceeb;
	width: 100%;
	height: auto;
	font-weight: 800;
	margin: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

form {
	width: 100%;
	align-items: center;
	justify-content: center;
}

label {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 8px;
	font-weight: 600;
	color: #87ceeb;
	display: block;
	margin-bottom: 8px;
}

label>span {
	margin-bottom: 10px;
}

.left-login {
	width: 50vw;
	height: 84vh;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	text-align: center;
	flex-direction: column;
	font-size: 32px;
	margin: auto;
}

.left-login h1 {
	font-size: 2rem;
	margin: 0;
}

.right-login {
	width: 50vw;
	height: 84vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-login {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 35px;
	background: #324457;
	border-radius: 20px;
	box-shadow: 0px 10px 40px #014f30;
}

.campo-login {
	width: 100%;
	margin-top: 8px;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #526980;
	color: #f0ffffde;
	font-size: 1.1rem;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
}

#username.campo-login {
	margin-top: 8px;
}

label>input::placeholder {
	color: #b8c6c694;
}

.submit {
	width: 100%;
	padding: 16px 0px;
	margin: 25px 0px 25px 0px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: #2b134b;
	background: #87ceeb;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #86D1EB;
	font-size: 1.1rem;
}

.submit:hover {
	background: #6DA6BD;
	transition: all .3s ease-in-out;
}

footer {
	border-top: 0.2px solid white;
	/*width: 100vw;*/
	height: 8vh;
	padding: 32px;
	text-align: center;
}

footer p {
	display: block;
	color: #c0c0c0;
	margin: 0 auto;
}

footer a {
	color: #87ceeb;
	text-decoration: none;
}

/*Aqui começam as media queries*/

@media only screen and (min-width: 601px) and (max-width: 1280px) {
	header {
		height: 8%;
		width: 100%;
	}

	.logo-flexpay {
		width: 15%;
	}

	.logo-flexpay img {
		width: 100%;
	}

	nav {
		text-align: center;
		/*font-size: 4vh;*/
	}

	nav a {
		margin: auto;
	}

	.area-login {
		height: 84%;
		margin: 20px 0 20px 0;
	}

	.left-login {
		height: 100%;
	}

	.area-login-image {
		width: 80%;
		height: auto;
		margin: 8px;
	}

	.right-login {
		width: 50%;
		height: auto;
		align-items: center;
	}

	.card-login {
		width: 90%;
		height: auto;
		text-align: center;
	}

	footer {
		height: 8%;
	}

}

@media only screen and (min-width: 301px) and (max-width: 600px) {

	header {
		height: 8%;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-around;
		gap: 10px;
		margin-top: 0;
		padding: 8px;
	}

	.logo-flexpay {
		width: 50%;
	}

	.logo-flexpay img {
		width: 100%;
	}

	nav {
		width: 100%;
		text-align: center;	}

	nav a {
		margin: auto;
		font-size: 14px;
	}

	.area-login {
		flex-direction: column;
		height: 84%;
		margin: 20px 0 20px 0;
		padding: 0;
	}

	.left-login>h1 {
		display: none;
	}

	.left-login {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	.area-login-image {
		width: 80%;
		margin: 8px;
	}

	.right-login {
		width: 100%;
		height: auto;
		align-items: center;
	}

	.area-login-image {
		width: 50vw;
		margin: 8px;
	}

	.card-login {
		width: 90%;
		text-align: center;
		gap: 12px;
		font-size: 14px;
	}

	.card-login label input::placeholder {
		font-size: 14px;
	}

	footer {
		height: 8%;
		font-size: 14px;
	}

}

@media only screen and (max-width: 300px) {

	header {
		height: 8%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 10px;
		margin-top: 0;
		padding: 8px;
	}

	.logo-maxima {
		width: 50%;
	}

	.logo-maxima img {
		width: 100%;
	}

	nav {
		width: 100%;
		text-align: center;
	}

	nav a {
		margin: auto;
		font-size: 12px;
	}

	.main-login-signup {
		flex-direction: column;
		height: 84%;
		margin: 20px 0 20px 0;
		padding: 0;
	}

	.left-login-signup>h1 {
		display: none;
	}

	.left-login-signup {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	.left-login-signup-image {
		width: 80%;
		margin: 8px;
	}

	.right-login-signup {
		width: 100%;
		height: auto;
		align-items: center;
		font-size: 12px;
	}

	.left-login-signup-image {
		width: 50vw;
		margin: 8px;
	}

	.card-login {
		width: 90%;
		text-align: center;
		font-size: 10px;
	}

	.card-login label input::placeholder {
		font-size: 12px;
	}

	.card-signup {
		width: 90%;
		text-align: center;
	}

	.card-signup label input::placeholder {
		font-size: 12px;
	}
	

	footer {
		height: 8%;
		font-size: 12px;
	}

	.descricao-inicio {
		display: flex;
		flex-direction: column;
	}

	.area-esqueci-senha {
		width: 100%;
	}

	.preciso-de-ajuda {
		text-align: justify;
	}

	.cpf-forgot::placeholder {
		font-size: 12px;
	}

	.container-foto {
		margin: auto;
	}
	
	.btn-login-signup {
		margin: auto;
		margin-top: 10px;
		font-size: 14px;
	}

	.forgot {
		margin: 0;
	}

	.btn-forgot-pass {
		width: 100%;
		font-size: 14px;
	}

	#message {
		font-size: 12px;
	}

	#message::placeholder {
		font-size: 12px;
	}

	#sendmessage {
		font-size: 12px;
	}

	.mapa {
		width: 200px;
		height: 200px;
	}

	.container-depoimentos {
		display: flex;
		flex-direction: column;
	}
}