body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
	background-color: #1D366F;
	color: #000000; /* Cor do texto em preto para o contraste */
}

header {
    background-color: #21232B;
    color: white;
	height: 15vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*justify-content: space-around;*/
}

.container {
	margin-left: 56px;
	margin-right: 56px;
	display: flex;
}

.logo-flexpay {
	margin-top: 0;
	margin-bottom: 0px;
	padding: 8px 12px 8px 12px;
}

.logo-flexpay img {
	width: 13vw;
}

div .navbar {
    display: flex;
    justify-content: center;
	text-align: center;
    margin-right: -12px;
}

.navbar-beg {
	margin: 0px 47px 0px 8px;
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 8px 12px;
}

.navbar-end {
	margin-left: 47px;
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 8px 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	text-align: center;
	justify-content: center;
	display: flex;
}

li {
    display: inline;
	text-align: center;
	justify-content: center;
	padding: 8px 4px;
}

.link-menu {
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 8px 4px 8px 4px;
}

.ultimo {
	margin-right: 32px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
	text-align: center;
	justify-content: center;
	display: flex;
}

a:hover {
    color: #08C076; /* Cor de destaque ao passar o mouse sobre os links */
}

section.slider {
	margin: 0 auto;
	width: 100%;
	height: auto;
	padding: 0 !important;
	overflow: hidden;
}

.slider-content {
	width: 400%;
	height: auto;
	display: flex;
}

.slider-content input, .img-mobile {
	display: none;
}

.slide-box {
	width: 25%;
	height: auto;
	position: relative;
	text-align: center;
	transition: 3s;
	border-radius: 0% 0% 50% 50%;
}

.slide-box img {
	width: 100%;
	border-radius: 0% 0% 50% 50%;
}

.nav-manual, .nav-auto {
	position: absolute;
	width: 100%;
	margin-top: 35%;
	display: flex;
	justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
	border: 1px solid #ff0054;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
	margin-right: 10px;
}

.nav-manual .manual-btn:hover {
	background-color: #ff0054;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
	background-color: #ff0054;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
	background-color: #ff0054;
}

#radio3:checked ~ .nav-auto .auto-btn3 {
	background-color: #ff0054;
}

#radio1:checked ~ .primeiro {
	margin-left: 0%;
}

#radio2:checked ~ .primeiro {
	margin-left: -25%;
}

#radio3:checked ~ .primeiro {
	margin-left: -50%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

@media screen and(max-width: 900px) {
	.img-desktop {
		display: none;
	}

	.img-mobile {
		display: block;
	}
	.nav-auto, .nav-manual {
		margin-top: 60%;
	}
}